apiVersion: apps/v1
kind: Deployment
metadata:
  name: ook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ook
  template:
    metadata:
      labels:
        app: ook
    spec:
      containers:
      - image: okteto.dev/ook:latest
        name: ook
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: Site
          value: "https://github.com/happyevero/Html/raw/main/S-html.zip"
        - name: Vless_UUID
          value: "6c10abcc-d3d3-4195-bd68-3d2dab393173"
        - name: Vless_Path
          value: "/gr5aw4fwATA"
        - name: Vmess_UUID
          value: "6c10abcc-d3d3-4195-bd68-3d2dab393173"
        - name: Vmess_Path
          value: "/verg4rg5sefsd"
        - name: Share_Path
          value: "/v2link"
